.header
{
    background: brown;
    text-align: center;
    color :#fff;
}
.container-img
{
    width: 100%;
}
.text
{
    font-size: 18px;
}
.car
{
    border-style:dashed;
}
.carcenter
{
    text-align: center;
}
.bolder
{
   font-weight: bolder; 
}
.italic
{
    font-style: italic;
}
.textblue
{
    color: blue;
}
.colorweight
{
    color: blue;
    font-weight: bolder;
}
.futer
{
    background: rgb(0, 0, 0);
    text-align: center;
    color :#fff;
    font-size: 20px;
}